# Imports

In [1]:
import pandas         as pd

# Data Collection

## Categories

In [2]:
categories = pd.read_csv('data/categories.csv', sep=';')
categories = categories.drop(columns=['picture', 'description'])
#categories.head()

## Customers

In [3]:
customers = pd.read_csv('data/customers.csv', sep=';')
customers = customers.drop(columns=['contact_name', 'contact_title', 'address', 'region', 'postal_code', 'phone', 'fax'])
customers.columns = ['customer_id', 'customer_name', 'customer_city', 'customer_country']
#customers.head()

# employees

In [13]:
employees = pd.read_csv('data/employees.csv', sep=';')

employees['name'] = employees['first_name'] + " " + employees['last_name']

employees = employees.drop(columns=['last_name', 'first_name', 'title_of_courtesy', 'birth_date',
                                    'address','region','postal_code','home_phone','extension','photo','notes',
                                    'reports_to','photo_path'])

employees.columns = ['employee_id', 'employee_title', 'employee_hire_date', 'employee_city', 'employee_country', 'employee_name']

employees = employees[['employee_id', 'employee_name', 'employee_title', 'employee_hire_date', 'employee_city', 'employee_country']]
#employees.head()

## Orders

In [5]:
orders = pd.read_csv('data/orders.csv', sep=';')
orders = orders.drop(columns=['ship_address','ship_region','ship_postal_code'])
#orders.head()

## Shippers

In [6]:
shippers = pd.read_csv('data/shippers.csv', sep=';')
shippers = shippers.drop(columns=['phone'])
shippers.columns = ['shipper_id', 'shipper_name']
#shippers.head()

## Supliers

In [7]:
suppliers = pd.read_csv('data/suppliers.csv', sep=';')
suppliers = suppliers.drop(columns=['address', 'contact_name', 'contact_title', 'region',
                                    'postal_code', 'phone','fax','homepage'])
suppliers.columns = ['supplier_id', 'supplier_name', 'supplier_city', 'supplier_country' ]
#suppliers.head()

# employee territories

In [8]:
employee_territories = pd.read_csv('data/employee_territories.csv', sep=';')
#employee_territories.head()

In [9]:
order_details = pd.read_csv('data/order_details.csv', sep=';')
order_details.columns = ['order_id', 'product_id', 'order_unit_price', 'quantity', 'discount']
#order_details.head()

In [10]:
products = pd.read_csv('data/products.csv', sep=';')
products.columns = ['product_id', 'product_name', 'supplier_id', 'category_id', 'quantity_per_unit', 'product_unit_price',
                     'units_in_stock', 'units_on_order', 'reorder_level', 'discontinued' ]
#products.head()
#products.nunique()

In [11]:
region = pd.read_csv('data/region.csv', sep=';')
#region.head()

In [12]:
territories = pd.read_csv('data/territories.csv', sep=';')
#territories.head()

# Merge Data

In [458]:
# orders + customers
orders = orders.merge(customers, left_on='customer_id', right_on='customer_id')

In [459]:
# orders + Order details
orders = orders.merge(order_details, left_on='order_id', right_on='order_id')

In [460]:
# orders + shippers
orders = orders.merge(shippers, left_on='ship_via', right_on='shipper_id')

In [461]:
# products + categories + supliers
products = products.merge(categories, left_on='category_id', right_on='category_id')
products = products.merge(suppliers, left_on='supplier_id', right_on='supplier_id')

In [462]:
# orders + prdocuts
orders = orders.merge(products, left_on='product_id', right_on='product_id')

In [463]:
# orders + customers
#orders = orders.merge(customers, left_on='customer_id', right_on='customer_id')
#orders.shape

In [464]:
# employees + employee_territories + territories + region
#employees = employees.merge(employee_territories, left_on='employee_id', right_on='employee_id')
#employees = employees.merge(territories, left_on='territory_id', right_on='territory_id')
#employees = employees.merge(region, left_on='region_id', right_on='region_id')

In [465]:
# employees + orders
orders = orders.merge(employees, left_on='employee_id', right_on='employee_id')

In [466]:
data = orders[['order_id',
'order_date',
'required_date',
'shipped_date',
'product_id',
'product_name',
'order_unit_price',
'quantity',
'discount',
'ship_via',
'freight',
'ship_name',
'ship_city',
'ship_country',
'shipper_id',
'shipper_name',
'category_id',
'category_name',
'quantity_per_unit',
'product_unit_price',
'units_in_stock',
'units_on_order',
'reorder_level',
'discontinued',
'supplier_id',
'supplier_name',
'supplier_city',
'supplier_country',
'customer_id',
'customer_name',
'customer_city',
'customer_country',
'lat',
'long',
'employee_id',
'employee_name',
'employee_title',
'employee_hire_date',
'employee_city',
'employee_country']]

In [467]:
data.head().T

,0,1,2,3,4
order_id,10248,10869,10823,11043,10248
order_date,1996-07-04,1998-02-04,1998-01-09,1998-04-22,1996-07-04
required_date,1996-08-01,1998-03-04,1998-02-06,1998-05-20,1996-08-01
shipped_date,1996-07-16,1998-02-09,1998-01-13,1998-04-29,1996-07-16
product_id,11,11,11,11,42
product_name,Queso Cabrales,Queso Cabrales,Queso Cabrales,Queso Cabrales,Singaporean Hokkien Fried Mee
order_unit_price,14.0,21.0,21.0,21.0,9.8
quantity,12,10,20,10,10
discount,0.0,0.0,0.1,0.0,0.0
ship_via,3,1,2,2,3
freight,32.38,143.28,163.97,8.8,32.38
ship_name,Vins et alcools Chevalier,Seven Seas Imports,LILA-Supermercado,Spécialités du monde,Vins et alcools Chevalier
ship_city,Reims,London,Barquisimeto,Paris,Reims
ship_country,France,UK,Venezuela,France,France
shipper_id,3,1,2,2,3
shipper_name,Federal Shipping,Speedy Express,United Package,United Package,Federal Shipping
category_id,4,4,4,4,5
category_name,Dairy Products,Dairy Products,Dairy Products,Dairy Products,Grains/Cereals
quantity_per_unit,1 kg pkg.,1 kg pkg.,1 kg pkg.,1 kg pkg.,32 - 1 kg pkgs.
product_unit_price,21.0,21.0,21.0,21.0,14.0
units_in_stock,22,22,22,22,26
units_on_order,30,30,30,30,0
reorder_level,30,30,30,30,0
discontinued,0,0,0,0,1
supplier_id,5,5,5,5,20
supplier_name,Cooperativa de Quesos 'Las Cabras',Cooperativa de Quesos 'Las Cabras',Cooperativa de Quesos 'Las Cabras',Cooperativa de Quesos 'Las Cabras',Leka Trading
supplier_city,Oviedo,Oviedo,Oviedo,Oviedo,Singapore
supplier_country,Spain,Spain,Spain,Spain,Singapore
customer_id,VINET,SEVES,LILAS,SPECD,VINET
customer_name,Vins et alcools Chevalier,Seven Seas Imports,LILA-Supermercado,Spécialités du monde,Vins et alcools Chevalier
customer_city,Reims,London,Barquisimeto,Paris,Reims
customer_country,France,UK,Venezuela,France,France
lat,46.227.638,55.378.051,642.375,46.227.638,46.227.638
long,2.213.749,-3.435.973,-6.658.973,2.213.749,2.213.749
employee_id,5,5,5,5,5
employee_name,Buchanan Steven,Buchanan Steven,Buchanan Steven,Buchanan Steven,Buchanan Steven
employee_title,Sales Manager,Sales Manager,Sales Manager,Sales Manager,Sales Manager
employee_hire_date,1993-10-17,1993-10-17,1993-10-17,1993-10-17,1993-10-17
employee_city,London,London,London,London,London
employee_country,UK,UK,UK,UK,UK

In [468]:
data.to_csv(r'data/dataset_update.csv', index = False)